<p xmlns="http://www.w3.org/1999/html">register works!</p>

<header>
  <img src="./assets/chart.gif" id="logo" />
  <h1><a href="index.html">Tokslaw Weight Tracker</a></h1>
</header>
<nav>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="enterweight.html">Enter weight</a></li>
    <li><a href="myweights.html">My weight</a></li>
    <li><a href="teamweights.html">Team weights</a></li>
  </ul>
</nav>
<div id="container">
  <main>
    <div class="container">
      <h2 class="pb-2">Register for WeightLoss Competition</h2>
      <form [formGroup]="formRegister" (ngSubmit)= "onSubmit()">
        <div class="form-group">
          <label for="username">User name</label>
          <input type="text"
                 class="form-control"
                 id="username"
                 formControlName="username">
          <span *ngIf="formRegister.controls['username'].errors"> Invalid Username </span>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password"
                 class="form-control"
                 id="password"
                 formControlName="password">
          <span *ngIf="formRegister.controls['password'].errors"> Invalid Password </span>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!formRegister.valid">Submit</button>
      </form>
    </div>
  </main>
  <aside>
    <section>
      <h4>Health News</h4>
      <p>
        Prioritizing your health is the key to healthy lifestyle, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore   et dolore magna aliqua.
      </p>
    </section>
    <section>
      <h4>Healthy Recipes</h4>
      <a href="">grilled chicken</a>
      <a href="">minced beef patties</a>
      <a href="">potato pancakes</a>
      <a href="">fish stew</a>
    </section>
  </aside>
</div>
<footer>
  <hr />
  Copyright &copy; 2022. All rights reserved
</footer>
